<footer>
    <hr>

    <p>&copy; 2026 Mr Doyle Maths. All rights reserved.</p>

    <small>
        <a href="copyright.html">Copyright</a> · 
        <a href="copyright.html">Legal</a>
    </small>

    <br><br>

    <small>
        Contact: <a href="mailto:mrdoylemaths@outlook.com">mrdoylemaths@outlook.com</a>
    </small>

    <br><br>

    <small>
        Credits
    </small>
    <br>

    <small>
        Vectors and icons by 
        <a href="https://www.svgrepo.com" target="_blank">SVG Repo</a>
    </small>
</footer>