<header class="header-container">
    <a href="index.html">
        <img src="assets/images/Logo - Mr Doyle Maths.PNG" alt="Mr Doyle Maths logo" class="logo">
    </a>

    <nav>
        <ul>
            <li>
                <a href="numeracy.html">Numeracy</a>
                <ul>
                    <li><a href="numbers.html">Place Value</a></li>
                    <li><a href="numbers.html">Operations</a></li>
                    <li><a href="numbers.html">Fractions</a></li>
                </ul>
            </li>

            <li>
                <a href="ratio.html">Ratio & Proportion</a>
                <ul>
                    <li><a href="ratio.html">Ratio</a></li>
                    <li><a href="ratio.html">Proportion</a></li>
                    <li><a href="ratio.html">Scale Factors</a></li>
                </ul>
            </li>

            <li>
                <a href="algebra.html">Algebra</a>
                <ul>
                    <li><a href="algebra.html">Expressions</a></li>
                    <li><a href="algebra.html">Functions</a></li>
                    <li><a href="algebra.html">Sequences</a></li>
                </ul>
            </li>

            <li>
                <a href="geometry.html">Geometry</a>
                <ul>
                    <li><a href="geometry.html">Topics</a></li>
                    <li><a href="geometry.html">Shapes</a></li>
                    <li><a href="geometry.html">Exam Questions</a></li>
                </ul>
            </li>

            <li>
                <a href="probability.html">Probability</a>
                <ul>
                    <li><a href="probability.html">Basic Probability</a></li>
                    <li><a href="probability.html">Compound Events</a></li>
                    <li><a href="probability.html">Expected Value</a></li>
                </ul>
            </li>

            <li>
                <a href="statistics.html">Statistics</a>
                <ul>
                    <li><a href="statistics.html">Data Collection</a></li>
                    <li><a href="statistics.html">Data Representation</a></li>
                    <li><a href="statistics.html">Data Analysis</a></li>
                </ul>
            </li>
            <li>
                <a href="tutoring.html">Tutoring</a>
            </li>
        </ul>
    </nav>
</header>